{% extends 'ratao/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--{{ formulario| crispy }}-->

            <label for="cod"> Código:
                <div id="cod" class="input-group">
                    {% render_field formulario.codigo type="text" %}
                </div>
            </label>
            <label for="nome"> Nome:
                <div id="nome" class="input-group">
                    {% render_field formulario.nome type="text" %}
                </div>
            </label>
            <label for="desc"> Descrição:
                <div id="desc" class="input-group">
                    {% render_field formulario.descricao type="text" %}
                </div>
            </label>
            <label for="tomb"> Tombamento:
                <div id="tomb" class="input-group">
                    {% render_field formulario.tombamento type="text" %}
                </div>
            </label>
            <label for="uni"> Unidade:
                <div id="uni" class="input-group">
                    {% render_field formulario.uni type="text" %}
                </div>
            </label>
            <label for="quant"> Quantidade:
                <div id="qunat" class="input-group">
                    {% render_field formulario.quant type="text" %}
                </div>
            </label>
            <label for="est"> Estado de Conservação:
                <div id="est" class="input-group">
                    {% render_field formulario.estado type="text" %}
                </div>
            </label>
            <label for="local"> Quantidade:
                <div id="local" class="input-group">
                    {% render_field formulario.local type="text" %}
                </div>
            </label>
            <label for="v_un"> Valor Unitário:
                <div id="v_un" class="input-group">
                    {% render_field formulario.valor_unitario type="text" %}
                </div>
            </label>
            <label for="v_total"> Valor Total:
                <div id="v_total" class="input-group">
                    {% render_field formulario.valor_total type="text" %}
                </div>
            </label>
            <label for="foto"> Foto:
                <div id="foto">
                    {% render_field formulario.foto %}
                </div>
            </label>
            <label for="dr"> Recebimento:
                <div id="dr">
                    {% render_field formulario.datareceb type="date" %}
                </div>
            </label>
            <label for="pro"> Processo:
                <div id="pro">
                    {% render_field formulario.processo type="text" %}
                </div>
            </label>
            <label for="t_entrada"> Tipo de Entrada:
                <div id="t_entrada">
                    {% render_field formulario.tipoentrada type="text" %}
                </div>
            </label>
             <label for="resp"> Responsável:
                <div id="resp">
                    {% render_field formulario.responsavel type="text" %}
                </div>
            </label>
            <label for="data_man"> Data manutenção:
                <div id="data_man">
                    {% render_field formulario.data_manute type="date" %}
                </div>
            </label>


            <label for="id_local"> Id Local:
                <div id="id_local">
                    {% render_field formulario.id_local type="text" %}
                </div>
            </label>
            <label for="id_class"> Id Classificação:
                <div id="id_class">
                    {% render_field formulario.id_classifica %}
                </div>
            </label>

            <div class="row">

                <label for="id_for"> Id Fornecedor:
                    <div id="id_for" class="col-10">
                        {% render_field formulario.id_fornecedor type="text" class="form-control" %}
                    </div>
                </label>
            </div>
            <label for="id_marca"> Id Marca:
                <div id="id_marca">
                    {% render_field formulario.id_marca type="text" %}
                </div>
            </label>
            <label for="id_nota"> Id Nota:
                <div id="id_nota">
                    {% render_field formulario.id_nota %}
                </div>
            </label>
            <label for="id_processo"> Id Processo:
                <div id="id_processo">
                    {% render_field formulario.id_processo %}
                </div>
            </label>
            <label for="id_ne" class="mb-5"> Id Empenho:
                <div id="id_ne">
                    {% render_field formulario.id_ne %}
                </div>
            </label>

            <input type="submit" value="Editar" class="btn bg-success mt-5">
        </form>

    </div>
{% endblock content %}